@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply h-10 w-10 rounded-full bg-white flex items-center justify-center;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.icon {
  @apply h-6 w-6;
}

.page {
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@media screen and (max-width: 767px) {
  .page {
    box-shadow: none;
  }
}
